<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProv.css') }}" />
    <title>Inventario</title>
</head>
<body>
	<div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "80px"/>
		</div>
		<div>
			<ul id ="menu">
				<li><a class="active" href="">Productos</a>
					<ul>
					  <li><a href="createproduct">Crear Productos</a></li>
					  <li><a href="">Editar/Eliminar Productos</a></li>
					</ul>
				</li>
				<li><a class="active" href="">Proveedores</a>
					<ul>
					  <li><a href="createprovider">Crear Proveedores</a></li>
					  <li><a href="">Editar/Eliminar Proveedores</a></li>
					</ul>  
				</li>
				<li><a class="active" href="">Usuarios</a>
					<ul>
					  <li><a href="createuser">Crear Usuario</a></li>
					  <li><a href="">Editar/Eliminar Usuario</a></li>
					</ul>
				</li>
				<li style="float:right;"><a class="active" href="">Contacto</a>
					<ul>
					  <li><a href="">Cambiar Contraseña</a></li>
					  <li><a href="">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<br/>
	<br/>
	<p></p>
	<br/>
	<h1>Creación Proveedores</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
		<fieldset>
			<p>
				<label for="company">Nombre Empresa*</label><br/>
				<input type="text" name="company" id="company"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codcompany">Código Empresa*</label><br/>
				<input type="text" name="codcompany" id="codcompany"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="correo">Email*</label><br/>
            <input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="city">Ciudad*</label><br/>
            <input type="text" name="city" id="city"/>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="rol">Linea de Productos*</label><br/>
				<select name="rol">
					<option value="">[Seleccionar]</option>
					<option value=""></option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</p>
			<br/>
			<br/>
			<p>
				<label for="address">Dirección*</label><br/>
				<input type="text" name="address" id="address"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="correo">Celular*</label><br/>
				<input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="state">Estado*</label><br/>
				<input type="text" name="state" id="state"/>
			</p>
		</fieldset>   
		<br/>
		<br/>
		<button type="submit" value="Crear">Crear</button>
    </form>
</body>
</html>